@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	@apply mx-auto max-w-screen-lg sm:px-4 px-4;
}
.button {
	@apply bg-blue-500 text-white px-3 py-1.5 rounded hover:bg-blue-700 text-sm;
}
.button-secondary {
	@apply bg-gray-100 text-gray-500 hover:border-blue-300 hover:bg-white hover:text-blue-500 border border-transparent rounded px-2 py-1.5 transition-colors text-sm;
}
.tag {
	@apply text-white px-2 py-1 leading-none inline-block rounded-full text-sm;
}
.cc {
	@apply flex items-center justify-center;
}
.dropdown {
	@apply bg-white p-2 shadow-lg border border-gray-300 rounded;
}
.item {
	@apply cursor-pointer px-2 py-2 hover:bg-blue-50 hover:text-blue-500 flex items-center w-full text-sm rounded transition-colors;
}

.html-content:not(.no-br) p {
	@apply my-4;
}
.html-content {
	@apply leading-loose text-gray-700;
}
.html-content li {
	@apply list-disc list-inside;
}
.html-content h1 {
	@apply text-3xl sm:text-4xl text-red-700 mt-8 mb-2;
}
.html-content h2 {
	@apply text-xl sm:text-2xl text-red-700 mt-8 mb-2;
}
.html-content h2 mark {
	@apply w-8 h-8 bg-red-500 text-white rounded-full inline-flex justify-center items-center mr-2;
}
.html-content a {
	@apply text-blue-500 hover:text-blue-700;
}
.html-content hr {
	@apply h-[2px] my-8 bg-gray-500;
}
.html-content img {
	@apply mx-auto w-96 max-w-full my-8;
}
.html-content blockquote {
	@apply bg-amber-50 p-4 my-8 flex items-center text-amber-800 border border-amber-400 shadow leading-tight rounded;
}
.html-content blockquote:before {
	content: "";
	background-image: url("/blockquote-icon.png");
	@apply w-8 h-8 bg-center bg-no-repeat bg-contain inline-block mr-2;
}


/* for Dropdown.svelte */
#tooltip {
	@apply border border-gray-300 rounded-lg bg-white z-50;
	box-shadow: 0 4px 20px -4px rgba(0,0,0,0.3);
}
#arrow,
#arrow::before {
	@apply absolute w-4 h-4;
}

#arrow {
	visibility: hidden;
}

#arrow::before {
	visibility: visible;
	content: '';
	transform: rotate(45deg);
}
#tooltip[data-popper-placement^='top'] > #arrow {
	@apply -bottom-2;
}
#tooltip[data-popper-placement^='top'] > #arrow::before {
	@apply border-b border-r border-gray-300;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
	@apply -top-2;
}
#tooltip[data-popper-placement^='bottom'] > #arrow::before {
	@apply border-t border-l border-gray-300;
}

#tooltip[data-popper-placement^='left'] > #arrow {
	@apply -right-2;
}
#tooltip[data-popper-placement^='left'] > #arrow::before {
	@apply border-t border-r border-gray-300;
}

#tooltip[data-popper-placement^='right'] > #arrow {
	@apply -left-2;
}
#tooltip[data-popper-placement^='right'] > #arrow::before {
	@apply border-b border-l border-gray-300;
}
